* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex; 
    flex-direction: column;
    background-color: #d3d3d3;
    width: 425px;
    padding: 15px;
    border-radius: 7px;
}

.screen {
    align-self: center;
    width: 98%;
    height: 125px;
    background-color: white;
    margin: 5px 0 15px 0;
    border-radius: 7px;
    padding: 10px;
}

#last-operation {
    min-height: 32px;
    font-size: 20px;
}

#current-operation {
    min-height: 64px;
    font-size: 40px;
}

#last-operation, #current-operation {
    text-align: right;
}

.buttons-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons-area.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#clear {
    background-color: rgb(214, 163, 147);
}
#clear:hover {
    background-color:rgb(190, 114, 96);
}
#clear:active {
    background-color:rgb(180, 94, 76);
}

#backspace {
    background-color: rgb(147, 182, 214);
}
#backspace:hover {
    background-color:rgb(127, 132, 176);
}
#backspace:active {
    background-color:rgb(117, 112, 156);
}

#clear, #backspace {
    border-radius: 5px;
    border: solid 1px black;

}

.buttons-area>* {
    padding: 15px;
    margin: 3px;
    border: solid 1px black;
    border-radius: 5px;
}

body {
    background-image: linear-gradient(to right, rgba(0, 140, 255, 0.35),rgba(0, 128, 75, 0.35))
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    color: var(--font);
    font-size: 1rem;
  }
  
.fa-github {
    margin-left: 1rem;
    color: var(--font);
    font-size: 1.4rem;
    transition: transform 0.6s ease-in-out;
    color: black;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
